In [1]:
import numpy as np

In [2]:
gdp_kor_array = np.array([12257, 11561, 13165, 14673, 16496, 19403]) # 2000년 부터 2005년까지의 대한민국 인당 gdp 데이터

위 데이터에다가 통계연산 몇 가지를 사용해보자.

우선 6년동안의 평균을 내려면 어떻게 해야할까?\
데이터 내의 값들을 전부 더해서 6으로 나눠도 되지만 이미 그런 기능은 numpy에 내장되어 있다.\
gdp_kor_array **.mean()**

In [3]:
gdp_kor_array.mean()

14592.5

In [4]:
gdp_kor_array.sum() # 데이터 내 값의 총 합을 리턴해주는 명령어

87555

In [5]:
gdp_kor_array.min() # 데이터 내 최솟값을 리턴해주는 명령어

11561

In [6]:
gdp_kor_array.max() # 데이터 내 최댓값을 리턴해주는 명령어

19403

이런식으로 기본적인 통계연산들은 Numpy에 내장되어있으니, 편하게 사용 가능하다.

이번엔 array값들 전체에 대해 한꺼번에 연산을 하는 법에 대해 배워보자.

지금 gdp_kor_array 값들은 전부 $(달러)로 되어있다.\
이걸 원화로 바꿔보자.

환율이 1$ = 1200원 이라고 치면

In [7]:
# 기존 파이썬 문법 사용 시
# for i in range(len(gdp_kor_array)):
    # gdp_kor_array[i] = gdp_kor_array[i] * 1200

# 위 방법을 numpy 사용 시
gdp_kor_array * 1200

array([14708400, 13873200, 15798000, 17607600, 19795200, 23283600])

위와 같이 간단한 코드로 각 값에 1200을 곱할 수 있음.

In [8]:
gdp_kor_array

array([12257, 11561, 13165, 14673, 16496, 19403])

그런데 gdp_kor_array를 다시 호출하면 1200이 곱해진 값이 아닌 $ 환율로 나온다.\
그 이유는 **원화 환율로 바꾼 값을 gdp_kor_array에 저장을 안 해줘서**이다.\
gdp_kor_array = gdp_kor_array * 1200  을 사용해보자.

In [9]:
gdp_kor_array = gdp_kor_array * 1200
gdp_kor_array

array([14708400, 13873200, 15798000, 17607600, 19795200, 23283600])

다시 원래대로 되돌리고 싶다면,\
gdp_kor_array = gdp_kor_array / 1200

In [10]:
gdp_kor_array = gdp_kor_array / 1200
gdp_kor_array

array([12257., 11561., 13165., 14673., 16496., 19403.])

지금까지는 array다가 숫자를 곱하거나 나누는것을 해봤다.\
이번엔 array와 array 끼리 연산하는 것을 해보자.

In [12]:
gdp_us_array = np.array([36335, 37133, 38023, 39496, 41713, 44115]) # 미국 연간 gdp

두 나라의 연간 gdp가 연도별로 얼마나 차이나는지에 대해서 알아보자.

In [14]:
gdp_us_array - gdp_kor_array

array([24078., 25572., 24858., 24823., 25217., 24712.])

각 위치의 값들 끼리 빼줘서, 결과가 나옴. (사칙연산 적용가능)

In [15]:
gdp_us_array / gdp_kor_array # 연도별 인당 gdp가 미국이 한국에 몇 배인지 확인 가능

array([2.96442849, 3.21191938, 2.88818838, 2.69174675, 2.52867362,
       2.27361748])

# Numpy 정리

### 1. 통계연산을 파이썬 코드처럼 복잡하게 작성할 필요 없이 간단하게 사용할 수 있다.
       - .mean() : 평균
       - .sum()  : 합계
       - .max()  : 최댓값
       - .min()  : 최솟값

### 2. array의 값들에게 어떤 연산을 하고싶으면, 하나씩 할 필요없이 한꺼번에 간편하게 할 수 있음
       - array1 = [3, 4, 6, 8, 12]
       - array1 = array1 + 1
       - array1
       - array([4, 5, 7, 9, 13])

### 3. array와 array간의 연산도 비슷하게 할 수 있다.
       - array1 = [1, 2, 3, 4, 5]
       - array2 = [2, 4, 5, 6, 8]
       - array1 * array2
       - array([2, 8, 15, 24, 40])