넘파이, 판다스 라이브러리를 불러온다.

In [1]:
import numpy as np
import pandas as pd

그리고 **pd.DataFrame** 으로 표를 만들 재료들을 넣어준다.

df = pd.DataFrame({\
    'category': ['skirt', 'sweater', 'coat', 'jeans'],\
    'quantity': [10, 15, 6, 11],\                        
    'price': [30000, 60000, 95000, 35000]\
})

이렇게 만들어주면 되지만, 리스트나 Numpy array를 넣을 수도 있다.

## 1. 2차원 리스트와 2차원 NumPy array를 가지고 DataFrame을 만들기
1. two_dimensional_list라는 2차원 리스트(list of lists)를 가지고 list_df를 만들고
2. two_dimensional_array라는 2차원 NumPy array를 가지고 array_df를 만든다.

In [16]:
# 1
two_dimensional_list = [
    ['skirt', 10, 30000],
    ['sweater', 15, 60000],
    ['coat', 6, 95000],
    ['jeans', 11, 35000]
]

# 2
two_dimensional_array = np.array(two_dimensional_list)

# 1 
list_df = pd.DataFrame(two_dimensional_list)

# 2
array_df = pd.DataFrame(two_dimensional_array)

list_df

         0   1      2
0    skirt  10  30000
1  sweater  15  60000
2     coat   6  95000
3    jeans  11  35000

이렇게 만든 **list_df**와 **array_df**를 출력해 보면, 둘 다 위와 같은 결과물이 나온다.

지금 보면 columns들의 이름이 0, 1, 2로 되어 있어서 뭐가 뭔지 알아보기 힘들다.\
해당 값을 변경해보자.
DataFrame을 만들 때 columns라는 옵션을 사용해서 컬럼명을 설정하는 것도 가능하다.\
**변수 명 = pd.DataFrame(데이터 출처, columns= ['0번 이름', '1번 이름', '2번 이름']** 으로 설정이 가능하다.

In [17]:
list_df = pd.DataFrame(two_dimensional_list, columns=['category', 'quantity', 'price'])
array_df = pd.DataFrame(two_dimensional_array, columns=['category', 'quantity', 'price'])
array_df

  category quantity  price
0    skirt       10  30000
1  sweater       15  60000
2     coat        6  95000
3    jeans       11  35000

## 2. 딕셔너리가 담겨 있는 리스트로 DataFrame을 만들기

dict_list라는 리스트를 가지고 dict_list_df이라는 DataFrame을 만들었다.
해당 항목에다가  : 순서대로 쌓는다고 생각하자\
{columns 이름1 : 이름1에 속한 데이터 정보, columns 이름2 : 이름2에 속한 데이터 정보, columns 이름3 : 이름3에 속한 데이터 정보}\
{columns 이름1 : 이름1에 속한 데이터 정보, columns 이름2 : 이름2에 속한 데이터 정보, columns 이름3 : 이름3에 속한 데이터 정보}\
{columns 이름1 : 이름1에 속한 데이터 정보, columns 이름2 : 이름2에 속한 데이터 정보, columns 이름3 : 이름3에 속한 데이터 정보}

In [19]:
dict_list = [
    {'category': 'skirt', 'quantity': 10, 'price': 30000},
    {'category': 'sweater', 'quantity': 15, 'price': 60000},
    {'category': 'coat', 'quantity': 6, 'price': 95000},
    {'category': 'jeans', 'quantity': 11, 'price': 35000}
]

dict_list_df = pd.DataFrame(dict_list)
dict_list_df

  category  quantity  price
0    skirt        10  30000
1  sweater        15  60000
2     coat         6  95000
3    jeans        11  35000