## 이번에는 실제 데이터를 불러와보자

.csv 파일 형식을 사용한다.(Comma-Separated-Values(=값들이 쉼표로 나뉘어져 있다.))\
아래 파일 처럼 헤더가 csv 파일에 헤더가 있는지, 없는지 잘 파악하여 사용해야 한다.\

csv 파일 형식은 이렇게 생겼다.(버거킹 제품 데이터)\
product_name,calories,carb,protein,fat,sodium,category # 해당 줄을 **헤더** 라고 한다. columns 이름을 쉼표로 나눠서 설명한다.\
Whopper,660,49,28,40,1.0,Burgers\
Cheese Whopper,740,50,32,46,1.3,Burgers\
Double Whopper,900,49,48,58,1.0,Burgers\
Double Cheese Whopper,980,50,52,64,1.4,Burgers\
Whopper Junior,310,27,13,18,0.4,Burgers\
Bacon King,1150,49,61,79,2.2,Burgers\
Single Stacker King,700,48,35,42,1.4,Burgers\
Double Stacker King,1050,49,61,68,,Burgers\
Hamburger,240,26,13,10,0.4,Burgers\
Cheeseburger,280,27,15,13,0.6,Burgers\
Double Hamburger,350,26,21,18,0.4,Burgers\
Double Cheeseburger,390,27,23,21,0.6,Burgers\
Crispy Chicken,670,54,23,41,1.1,Chicken\
Chicken Nuggets,170,11,8,11,0.3,Chicken\
Spicy Chicken Nuggets,210,11,8,15,0.6,Chicken

이 csv 파일을 데이터프레임으로 가지고와보자.

In [2]:
import pandas as pd

In [8]:
# pd.read_csv("파일 경로") 해당 명령어로 csv내 데이터를 표로 만들 수 있다.
# 헤더에 들어간 columns 이름들이 잘 들어간 것을 볼 수 있다.
# pd.read_csv("data/burger.csv")
# 변수를 만들어서 사용할 수도 있따.
burger_df = pd.read_csv("data/burger.csv")
burger_df

             product_name  calories  carb  protein  fat  sodium category
0                 Whopper       660    49       28   40     1.0  Burgers
1          Cheese Whopper       740    50       32   46     1.3  Burgers
2          Double Whopper       900    49       48   58     1.0  Burgers
3   Double Cheese Whopper       980    50       52   64     1.4  Burgers
4          Whopper Junior       310    27       13   18     0.4  Burgers
5              Bacon King      1150    49       61   79     2.2  Burgers
6     Single Stacker King       700    48       35   42     1.4  Burgers
7     Double Stacker King      1050    49       61   68     NaN  Burgers
8               Hamburger       240    26       13   10     0.4  Burgers
9            Cheeseburger       280    27       15   13     0.6  Burgers
10       Double Hamburger       350    26       21   18     0.4  Burgers
11    Double Cheeseburger       390    27       23   21     0.6  Burgers
12         Crispy Chicken       670    54       23   41     1.1  Chicken
13        Chicken Nuggets       170    11        8   11     0.3  Chicken
14  Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

### 만약 csv 파일에 헤더가 없으면 어떻게 될까 burger2.csv 파일을 만들어서 헤더를 지워보자.
### 아래 표와 같이 엉뚱한 값들이 column으로 들어간다.\
csv의 첫 줄이 column 명으로 들어간 것이다. 이럴때는 "해당 csv파일에는 column명이 없습니다." 라고 명시를 해줘야 한다.\
burger_df_2 = pd.read_csv("data/burger2.csv"**, header=None**)

In [11]:
burger_df_2 = pd.read_csv("data/burger2.csv")
burger_df_2

                  Whopper   660  49  28  40  1.0  Burgers
0          Cheese Whopper   740  50  32  46  1.3  Burgers
1          Double Whopper   900  49  48  58  1.0  Burgers
2   Double Cheese Whopper   980  50  52  64  1.4  Burgers
3          Whopper Junior   310  27  13  18  0.4  Burgers
4              Bacon King  1150  49  61  79  2.2  Burgers
5     Single Stacker King   700  48  35  42  1.4  Burgers
6     Double Stacker King  1050  49  61  68  NaN  Burgers
7               Hamburger   240  26  13  10  0.4  Burgers
8            Cheeseburger   280  27  15  13  0.6  Burgers
9        Double Hamburger   350  26  21  18  0.4  Burgers
10    Double Cheeseburger   390  27  23  21  0.6  Burgers
11         Crispy Chicken   670  54  23  41  1.1  Chicken
12        Chicken Nuggets   170  11   8  11  0.3  Chicken
13  Spicy Chicken Nuggets   210  11   8  15  0.6  Chicken

In [17]:
burger_df_2 = pd.read_csv("data/burger2.csv", header=None)
burger_df_2
# 아래와 같이 표가 고쳐지긴 했지만 각 column들이 뭘 의미하는지 표현이 안되어 있음.

                        0     1   2   3   4    5        6
0                 Whopper   660  49  28  40  1.0  Burgers
1          Cheese Whopper   740  50  32  46  1.3  Burgers
2          Double Whopper   900  49  48  58  1.0  Burgers
3   Double Cheese Whopper   980  50  52  64  1.4  Burgers
4          Whopper Junior   310  27  13  18  0.4  Burgers
5              Bacon King  1150  49  61  79  2.2  Burgers
6     Single Stacker King   700  48  35  42  1.4  Burgers
7     Double Stacker King  1050  49  61  68  NaN  Burgers
8               Hamburger   240  26  13  10  0.4  Burgers
9            Cheeseburger   280  27  15  13  0.6  Burgers
10       Double Hamburger   350  26  21  18  0.4  Burgers
11    Double Cheeseburger   390  27  23  21  0.6  Burgers
12         Crispy Chicken   670  54  23  41  1.1  Chicken
13        Chicken Nuggets   170  11   8  11  0.3  Chicken
14  Spicy Chicken Nuggets   210  11   8  15  0.6  Chicken

## csv에 column명이 없으면 따로 설정해주면 된다.
burger_df_2 = pd.read_csv("data/burger2.csv", header=None,\
**names = 리스트** 를 사용하여 각 column 마다 이름을 순서대로 붙여주면 된다.\
**names = ["product_name", "calories", "carb,protein", "fat,sodium", "category"])**\
burger_df_2

In [22]:
burger_df_2 = pd.read_csv("data/burger2.csv", header=None,
                          names=["product_name", "calories", "carb", "protein", "fat", "sodium", "category"])
burger_df_2

             product_name  calories  carb  protein  fat  sodium category
0                 Whopper       660    49       28   40     1.0  Burgers
1          Cheese Whopper       740    50       32   46     1.3  Burgers
2          Double Whopper       900    49       48   58     1.0  Burgers
3   Double Cheese Whopper       980    50       52   64     1.4  Burgers
4          Whopper Junior       310    27       13   18     0.4  Burgers
5              Bacon King      1150    49       61   79     2.2  Burgers
6     Single Stacker King       700    48       35   42     1.4  Burgers
7     Double Stacker King      1050    49       61   68     NaN  Burgers
8               Hamburger       240    26       13   10     0.4  Burgers
9            Cheeseburger       280    27       15   13     0.6  Burgers
10       Double Hamburger       350    26       21   18     0.4  Burgers
11    Double Cheeseburger       390    27       23   21     0.6  Burgers
12         Crispy Chicken       670    54       23   41     1.1  Chicken
13        Chicken Nuggets       170    11        8   11     0.3  Chicken
14  Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken

위 표의 왼쪽 0, 1, 2 ...들은 각 rows의 인덱스이다.\
각 columns 들에게 이름을 붙여줬듯이 **rows들에게도 이름을 붙여보자.**\
burger_df = pd.read_csv("data/burger.csv", **index_col="product_name"**)\
**index_col=""** 은 각 index들을 **"해당 값"** 으로 변경해주겠다는 코드이다.\
참고로 인덱스는 절대로 겹치면 안됨 겹치면 오류발생
또 index_col에다 column들의 이름 대신 인덱스 번호로도 불러올 수 있음(헤더 미포함)\
**index_col="product_name"은 == index_col=0** 이다.

In [25]:
burger_df = pd.read_csv("data/burger.csv", index_col=0)
burger_df

                       calories  carb  protein  fat  sodium category
product_name
Whopper                     660    49       28   40     1.0  Burgers
Cheese Whopper              740    50       32   46     1.3  Burgers
Double Whopper              900    49       48   58     1.0  Burgers
Double Cheese Whopper       980    50       52   64     1.4  Burgers
Whopper Junior              310    27       13   18     0.4  Burgers
Bacon King                 1150    49       61   79     2.2  Burgers
Single Stacker King         700    48       35   42     1.4  Burgers
Double Stacker King        1050    49       61   68     NaN  Burgers
Hamburger                   240    26       13   10     0.4  Burgers
Cheeseburger                280    27       15   13     0.6  Burgers
Double Hamburger            350    26       21   18     0.4  Burgers
Double Cheeseburger         390    27       23   21     0.6  Burgers
Crispy Chicken              670    54       23   41     1.1  Chicken
Chicken Nuggets             170    11        8   11     0.3  Chicken
Spicy Chicken Nuggets       210    11        8   15     0.6  Chicken