### 데이터 분석을 하다보면 대부분 표 형태로 있는 데이터를 다뤄야 할 때가 많다.
이런 표를 numpy array로 표현하기에는 한계가 있다.

### Numpy array 단점
1. 가독성이 떨어진다.\
   Ex :\
   array([['skirt', 'sweater', 'coat', 'jeans']\
          ['10', '15', '6', '11']\
          ['30000', '60000', '95000', '35000']], dtype='<U21')
여기서 dtype'<U21' 이 의미하는 것은 numpy array에 최대 21자 이내의 문자열을 담을 수 있다는 뜻


문자 값도 있고 숫자 값도 있는데 **numpy array 에는 한 가지 데이터 타입만 넣을 수 있어서 전부 문자열로 담긴다.**

2. 위에서 보았듯이 정보에 대한 레이블 삽입도 불가하고,

3. 한 가지 데이터 타입만 사용 가능하다.

## pandas의 장점
1. **다양한 형태의 데이터를 불러올 수 있음**
2. 불러온 **데이터를 가공하고,**
3. **데이터 분석하고,**
4. **데이터를 시각화 한다.**

### Numpy = 복잡한 수학 연산으로 데이터를 분석할 때 사용

### pandas = 표 형태의 데이터를 간편하게 다루고 싶을 때 사용

In [2]:
import pandas as pd # pandas에서는 DataFrame이라는 자료형을 주로 사용한다. DataFrame을 사용하면 표 형식의 데이터를 다룰 수 있게 해줌

In [5]:
df = pd.DataFrame({
    'category': ['skirt', 'sweater', 'coat', 'jeans'],
    'quantity': [10, 15, 6, 11],                                     
    'price': [30000, 60000, 95000, 35000]
})
# pd.DataFrame을 사용하여 ({'항목의 이름1' : ['항목 종류 1', '항목 종류 2'...], '항목의 이름2' : [...],...}) 이렇게 사용한다.
df

  category  quantity  price
0    skirt        10  30000
1  sweater        15  60000
2     coat         6  95000
3    jeans        11  35000

이제 이 데이터 프레임의 구조에 대해서 알아보자.\
데이터 프레임에서 가로 줄 하나하나를 **row**라고 한다. (행 이라고 함)\
세로 줄은 **column** 이라 한다. (열 이라고 함)
위 데이터 프레임에는 4개의 rows와 3개의 columns 가 있다.

가장 윗 줄에 있는 'category', 'quantity', 'price' 는 각 columns 의 이름이다. DataFrame을 사용하면 각 Columns의 이름을 붙여줄 수 있다.\
왼쪽 열의 0, 1, 2, 3은 index라고 부르고 rows의 이름이라고 생각하면 됨

중요한 개념은 **대부분의 numpy 개념들이 pandas에서도 비슷하게 적용이 가능하다.**

In [16]:
df['quantity'] # 'quantity'의 값들만 가져오기

0    10
1    15
2     6
3    11
Name: quantity, dtype: int64

왼쪽 열은 index 오른쪽은 quantity column 내 데이터들이고\
밑 줄은 불러온 columns의 이름과 해당 column의 데이터 타입이다.\
그런데 df['quantity'] 의 데이터 타입을 확인해보면,

In [7]:
type(df['quantity'])

pandas.core.series.Series

pandas 데이터 프레임에서 하나를 때 오면 그 때온 값은 DataFrame타입이 아니라\
**pandas series 타입이 된다.**

위 개념으로 알 수 있는 사실\
DataFrame = 2차원으로 데이터를 다룬다.\
Series = 1차원으로 데이터를 다룬다.

DataFrame = 여러개의 Series로 구성되어 있다.

### 만약 df['qauntity']의 평균을 구하고 싶다면,

In [9]:
df['quantity'].mean() # .mean() numpy개념 처럼 사용 가능

10.5

In [10]:
df['quantity'].sum()

42

In [11]:
df['quantity'].min()

6

In [15]:
# 항목 별 총 판매 량 계산
df['quantity'] * df['price'] # numpy개념 처럼 사용 인덱스 값 끼리 계산되어 새로운 Series가 만들어 진다.

0    300000
1    900000
2    570000
3    385000
dtype: int64